body {
	text-align: -webkit-center;
	background-color: black;
	color: white;
}

h1 {
	text-align: center;
	font-size: 100px;
}

button {
}

.t {
	table-layout: fixed;
}

.t td{
text-align: center;
}

pre {
    /* Mozilla */
    white-space: -moz-pre-wrap;
 
    /* Opera 4-6 */
    white-space: -pre-wrap;

    /* Opera 7 */
    white-space: -o-pre-wrap;
 
    /* CSS3 */\
    white-space: pre-wrap;
 
    /* IE 5.5+ */
    word-wrap: break-word;
}


