<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/javaee/web-app_2_4.xsd"
  version="2.4">
	
	<servlet>
		<servlet-name>practice</servlet-name>
		<jsp-file>/practice.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>practice</servlet-name>
		<url-pattern>/pr</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>read</servlet-name>
		<servlet-class>ReadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>read</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>write</servlet-name>
		<servlet-class>WriteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>write</servlet-name>
		<url-pattern>/writecontents</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteform</servlet-name>
		<jsp-file>/delete.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteform</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deleteresult</servlet-name>
		<servlet-class>DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteresult</servlet-name>
		<url-pattern>/deleteresult</url-pattern>
	</servlet-mapping>
	
	<multipart-config>
		<max-file-size>5242880</max-file-size>
		<max-request-size>27262976</max-request-size>
		<file-size-threshold>32768</file-size-threshold>
		<!-- ディレクトリパスを指定することも出来る (しなくても良い) <location>/tmp</location> -->
	</multipart-config>
	
	
</web-app>