@charset= "Windows-31J";
*{
  font-family: "ƒqƒ‰ƒMƒmŠpƒS Pro W3","ƒƒCƒŠƒI",sans-serif;
}
body{
	background-image:url(../img/beijing1.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#name{
  color: #20cc20;
}